.Header {
  .Header-Author {
    align-items: center;
    display: flex;

    img {
      border: 1px solid $light;
      border-radius: 25px;
      height: 30px;
      margin-right: 5px;
      width: 30px;
    }

    p {
      font-size: 14px;
      font-weight: 700;
      margin-left: 7px;
    }
  }
}