// Some common styles

$dark: #222;
$mid: #717171;
$light: #b1b0b0;
$very-light: #fafafa;
$highlight: #f7f7f7;

body {
  color: $dark;
  font-size: 16.8px;
  height: 100vh;
  height: var(--app-height);
  margin: 0;
  overflow: hidden;
  width: 100vw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 46px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 40px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
}

iframe {
  margin: 20px;
}

li {
  font-size: 15px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  margin-top: 20px;
}

.EmbeddedCode {
  width: 95%;
}