:root {
  --app-height: 100%;
}

.App {
  height: 100vh;
  height: var(--app-height);
  overflow-y: auto;

  >:first-child {
    margin-left: 20%;
    width: 60%;

    @media #{$phone} {
      margin-left: 2.5%;
      width: 95%;
    }
  }
}