.Threads {
  background-color: $very-light;
  display: flex;
  height: 300px;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 95%;

  .Threads--Controls {
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: absolute;
    right: 0;
    width: 150px;

    @media #{$phone}, #{$tablet} {
      padding: 15px;
      width: 75px;
    }
  }

  .Threads--Thread {
    background: rgb(255,239,184);
    background: linear-gradient(180deg, rgba(255,239,184,1) 0%, rgba(255,199,199,1) 95%);
    display: flex;
    height: 300px;
    justify-content: center;
    margin-left: 30px;
    position: relative;
    width: 50px;

    @media #{$phone} {
      width: 30px;
    }

    @media #{$tablet} {
      width: 50px;
    }

    .Threads--Thread--Name {
      font-size: 10px;
      position: absolute;
      bottom: 10px;

      @media #{$phone} {
        font-size: 6px;
      }
    }

    .Threads--Thread--Request {
      background-color: red;
      position: absolute;
      width: 100%;
    }

    .Threads--Thread--Hijacked-Request {
      background-color: green;
      position: absolute;
      width: 100%;
    }
  }

  .Threads--Thread:first-of-type {
    margin-left: 60px;

    @media #{$phone}, #{$tablet} {
      margin-left: 40px;
    }
  }

  .Threads--Time {
    background-color: red;
    height: 1px;
    position: absolute;
    top: 0px;
    transition: top 1.5s;
    width: 100%;

    .Threads--Time--Label {
      font-size: 10px;
      margin-left: 3px;
    }
  }

  .Threads--Timer {
    bottom: 5px;
    font-size: 10px;
    right: 5px;
    position: absolute;
    text-align: right;

    @media #{$phone}, #{$tablet} {
      margin-right: 10px;
      text-align: center;
      width: 75px;
    }
  }

  button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px;
    margin-bottom: 10px;
  }
}